body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100%-100ch) / 2);
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 40px;
    padding-bottom: 50px;
  }

  :root{
    --accent-color: oklch(65% 50% 0);
  }
  :hover{
    --border-bottom: oklch(65% 50% 0);
  }

html{
  accent-color: var(--accent-color);
  border-bottom: var(--border-bottom);
  color-scheme: light dark;
}
nav{
  display: flex;
  margin-bottom: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
  accent-color: inherit;
}

.current{
  border-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
  padding-bottom: 0.2em;
}

a{
  flex:1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

input{font: inherit;}
textarea{font:inherit;}
button{font:inherit;}
select{font: inherit;}

form{
  display:grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label{
display: grid;
grid-template-columns: subgrid;
grid-column: 1/-1;
}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 15px;
}

article{
  grid-template-rows: subgrid;
  grid-row: span 3;
}
h2{
  margin: 0;
}

h1{
  font-size: large;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance; 
}

.resume {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}
